.gallery {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  @media only screen and (max-width: 1200px) {
    grid-template-columns: 1fr 1fr 1fr;
  }
  @media only screen and (max-width: 900px) {
    grid-template-columns: 1fr 1fr;
  }
  @media only screen and (max-width: 700px) {
    grid-template-columns: 1fr;
  }
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  justify-items: stretch;
  align-items: center;
  padding-top: 10px;
}
